{% extends 'base.html.twig' %}

{% block title %} Contact form{% endblock %}

{% block body %}
    {% if contact %}
        <table id="contacts" class="table table-striped">
            <thead>
            <tr>
                <th>Naam</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for contact in contact %}
                <tr>
                    <td>{{ contact.naam }}</td>
                    <td>
                        <a href="/contact/{{ contact.id }}" class="btn btn-dark">Show</a>
                        <a href="#" class="btn btn-danger delete-contact" data-id="{{ contact.id }}">Delete</a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No contacts to display</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}