{% extends 'base.html.twig' %}

{% block title %} Contact form{% endblock %}

{% block body %}
    {% if contact %}
        <table id="contacts" class="table table-striped">
            <thead>
            <tr>
                <th>Naam</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for contact in contact %}
                <tr>
                    <td><h3><i class="fas fa-user">{{ contact.naam }}</i></h3></td>
                    <td>
                        <a href="/contact/{{ contact.id }}" class="fas fa-eye" style="font-size: 20px">Show</a>
                        <a href="#" class="fas fa-trash-alt delete-contact" style="font-size: 20px" data-id="{{ contact.id }}">Delete</a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No contacts to display</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}