{% extends 'base.html.twig' %}

{% block title %}{{ contact.naam }}{% endblock %}

{% block body %}
    <p><h2><i class="fas fa-user">  {{ contact.naam }}</i></h2></p>
    <p><h2> <i class="fas fa-at">  {{ contact.email }}</i></h2></p>
    <p> <h2><i class="fas fa-phone"> {{ contact.telefoonnummer }}</i></h2></p>
    <hr>
    <i class="fas fa-undo"><a href="/">Terug</a></i>
{% endblock %}


